<div *ngIf="user =='admin'">
    <form [formGroup]="decisionForm" (ngSubmit)="SaveDecision()">
        <div class="form-group">
            <p>{{'Decision'}} </p>
            <div class="form-check form-check-inline">
            <input type="radio" value="1" id="Approved" 
            formControlName="status" name="status" class="form-check-input">

            <label class="form-check-label" for="Approved">
                {{'Approved' | translate}}
              </label>

              <input type="radio" value="2" id="Rejected"
              formControlName="status" name="status" class="form-check-input">

            <label class="form-check-label" for="Rejected">
                {{'Rejected' | translate}}
              </label>
           </div>
        </div>
        <div class="form-group">
            <span>{{'Reason' | translate}}</span>
            <textarea class="form-control" formControlName="reason"></textarea>
        </div>
        <div class="form-group text-center ">
            <input type="submit" value="{{'Save' | translate}}" class="btn btn-primary" [disabled]="!decisionForm.valid">
        </div>
    </form>
</div>




<div class="mainForm">
    <form [formGroup]="handBookForm" (ngSubmit)="Save()">
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <span class="h4"> {{'Title'| translate}} </span><span class="text-danger">*</span>
                    <input type="text"  [(ngModel)]="handbook.title" class="form-control" formControlName="title">
                </div>
            </div>

            <div class="col-6">
                <div class="form-group">
                    <span class="h4">{{'Country'|translate}} </span><span class="text-danger">*</span>
                    <select  class="form-control form-control-lg custom-form-control-option"
                     placeholder="Select Country" [(ngModel)]="handbook.countryId"
                        formControlName="countryId" >
                        <option></option>
                        <option *ngFor="let country of countries" [ngValue]="country.id">
                            {{ country.name }}
                        </option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <span class="h4"> {{'GuideDate' | translate}} </span><span class="text-danger">*</span>
                    <input type="date" [(ngModel)]="handbook.guideDate" class="form-control" formControlName="guideDate"/>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <span class="h4">{{'GuideInfo' | translate}} </span><span class="text-danger">*</span>
                    <textarea formControlName="guideInfo"   [(ngModel)]="handbook.guideInfo" class="form-control"> </textarea>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <p class="h4"> {{'Image' | translate}}</p><span class="text-danger">*</span>
                    <input type="file"    (change)="uploadImage($event)" #file class="form-control" *ngIf="user == 'user'" />
                    <!-- <input type="text" class="form-control" (click)="file.click()" placeholder="select file" /> -->
                    <img [src]="imgSrc" height="100px" width="100px" *ngIf="handbook.image" />
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <span class="h4"> {{'Attachments' | translate}}  </span> <br />
                    <input type="file" (change)="uploadFiles(attachmentfile.files)" hidden multiple #attachmentfile
                        class="form-control" accept=".docx,.doc,.pdf"/>
                    <button class="btn-attach" (click)="attachmentfile.click();fileExcessed=false"
                    *ngIf="user == 'user'"
                    >Attach</button>
                    <small class="text-danger"  *ngIf="fileExcessed">{{'maxNumberOfFilesIs5' | translate}} </small>
                    <!-- begin of div -->
                    <div class="row mb-5" *ngIf="handbookFiles.length >0">
                        <!--  -->
                        <div class="card col" *ngFor="let file of handbookFiles">
                                <a href="" class="link" (click)="$event.preventDefault();removeFile(file.id)" *ngIf="user=='user'"> ×</a>
                                <div>
                                    <img width="30px" height="30px" class="card-img-top"
                                        [src]="baseFileUrl + manageFileType(file.name)" />
                                </div>
                                <di class="text-center">
                                <a href="" (click)="$event.preventDefault(); downloadFile(file.id,file.name)">{{file.name}}</a>
                            </di>
        
                        </div>
                      
                    </div>
                    <!-- end of div -->
                </div>
            </div>
        </div>
        <div class="row text-center ">
            <div class="col-12 ">
                <input type="submit" value="{{'Save' | translate}}" class="btn btn-primary btnCreate" *ngIf="user !='admin'" />
            </div>
        </div>
    </form>
</div>