
<div class="container" *ngIf="handbook">

<div class="row">
    <div class="col-6">
        <div class="form-group">
            <span class="h4"> {{'Title'| translate}} </span>
        <p> {{handbook.title}}</p>
        </div>
    </div>

    <div class="col-6">
        <div class="form-group">
            <span class="h4">{{'Country'|translate}} </span>
            <select disabled class="form-control form-control-lg custom-form-control-option" placeholder="Select Country"
                [(ngModel)]="handbook.countryId">
                <option></option>
                <option *ngFor="let country of countries" [ngValue]="country.id">
                    {{ country.name }}
                </option>
            </select>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <div class="form-group">
            <span class="h4"> {{'GuideDate' | translate}} </span>
            <p>{{handbook.guideDate |date:'mediumDate'}}</p>
        </div>
    </div>
    <div class="col-6">
        <div class="form-group">
            <span class="h4">{{'GuideInfo' | translate}} </span>
            <p> {{handbook.guideInfo}}</p>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-6">
        <div class="form-group">
            <p class="h4"> {{'Image' | translate}} </p>
            <img [src]="imgSrc" height="200px" width="150px" />
        </div>
    </div>
    <div class="col-6">
        <div class="form-group">
            <span class="h4"> {{'Attachments' | translate}} <br /> </span>
            <!-- begin of div -->
            <div class="row mb-5" *ngIf="handbook.attachments.length >0">
                <!--  -->
                <div class="card col" *ngFor="let file of handbook.attachments">
                    <div class="card-body">
                        <div>
                            <img width="30px" height="30px" class="card-img-top"
                                [src]="baseFileUrl + manageFileType(file.name)" />
                        </div>
                        <a href="" (click)="$event.preventDefault(); downloadFile(file.id,file.name)">{{file.name}}</a>
                       
                    </div>

                </div>
              
            </div>
            <!-- end of div -->
        </div>
    </div>
</div>
</div>