<div *ngIf="user =='admin'">
    <form [formGroup]="decisionForm" (ngSubmit)="SaveDecision()">
        <div class="form-group">
            <p>{{'Decision'}} </p>
            <div class="form-check form-check-inline">
            <input type="radio" value="1" id="Approved" 
            forControlName="status" name="status" class="form-check-input">

            <label class="form-check-label" for="Approved">
                {{'Approved' | translate}}
              </label>

              <input type="radio" value="2" id="Rejected"
              forControlName="status" name="status" class="form-check-input">

            <label class="form-check-label" for="Rejected">
                {{'Rejected' | translate}}
              </label>
           </div>
        </div>
        <div class="form-group">
            <span>{{'Reason' | translate}}</span>
            <textarea class="form-control" forControlName="reason"></textarea>
        </div>
        <div class="form-group text-center ">
            <input type="submit" value="{{'Save' | translate}}" class="btn btn-primary">
        </div>
    </form>
</div>


<div class="row">
    <div class="col-6">
        <div class="form-group">
            <span> {{'Title'| translate}} </span><span class="text-danger">*</span>
        <p> title</p>
        </div>
    </div>

    <div class="col-6">
        <div class="form-group">
            <span>{{'Country'|translate}} </span><span class="text-danger">*</span>
            <select disabled class="form-control form-control-lg custom-form-control-option" placeholder="Select Country"
                >
                <option></option>
                <option *ngFor="let country of countries" [ngValue]="country.id">
                    {{ country.name }}
                </option>
            </select>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <div class="form-group">
            <span> {{'GuideDate' | translate}} </span><span class="text-danger">*</span>
            <input type="date" class="form-control" disabled>
        </div>
    </div>
    <div class="col-6">
        <div class="form-group">
            <span>{{'GuideInfo' | translate}} </span><span class="text-danger">*</span>
            <p> Info</p>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-6">
        <div class="form-group">
            <span> {{'Image' | translate}}</span><span class="text-danger">*</span>
            <img [src]="selectedImageUrl" height="100px" width="100px" *ngIf="imageUploaded" />
        </div>
    </div>
    <div class="col-6">
        <div class="form-group">
            <span> {{'Attachments' | translate}}</span><span class="text-danger">*</span> <br />
            <!-- begin of div -->
            <div class="row mb-5" *ngIf="fileNames.length >0">
                <div class="mln-2">
                    <ul class="">
                        <li class="" *ngFor="let fileName of fileNames">
                            <span>
                                <img width="30px" height="30px" class=""
                                    [src]="baseFileUrl + manageFileType(fileName)" />
                            </span>
                            <span class="" title="{{ fileName }}">{{
                            fileName
                          }}</span>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- end of div -->
        </div>
    </div>
</div>