<div class="mainForm">
    <form [formGroup]="handBookForm" (ngSubmit)="Create()">
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <span> {{'Title'| translate}} </span><span class="text-danger">*</span>
                    <input type="text" class="form-control" formControlName="title">
                    <small class="text-danger" [class.d-none]="handBookForm.get('title').untouched || handBookForm.get('title').valid ">
                        {{'NonNumericTextOnly' | translate}}</small>
                    
                </div>
            </div>

            <div class="col-6">
                <div class="form-group">
                    <span>{{'Country'|translate}} </span><span class="text-danger">*</span>
                    <select class="form-control form-control-lg custom-form-control-option" placeholder="Select Country"
                        formControlName="countryId">
                        <option></option>
                        <option *ngFor="let country of countries" [ngValue]="country.id">
                            {{ country.name }}
                        </option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <span> {{'GuideDate' | translate}} </span><span class="text-danger">*</span>
                    <input type="date" formControlName="guideDate" class="form-control" 
                    formControlName="guideDate" min="today">
                    <small class="text-danger" [class.d-none]="handBookForm.get('guideDate').untouched || handBookForm.get('guideDate').valid ">
                         {{'PerviousDatesNotAllowed' | translate}}</small>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <span>{{'GuideInfo' | translate}} </span><span class="text-danger">*</span>
                    <textarea formControlName="guideInfo" class="form-control"> </textarea>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <span> {{'Image' | translate}}</span><span class="text-danger">*</span>
                    <input type="file" (change)="uploadImage($event)" #file class="form-control" 
                    accept=".jpg,.jpeg,.png"/>
                    <!-- <input type="text" class="form-control" (click)="file.click()" placeholder="select file" /> -->
                    <img [src]="selectedImageUrl" height="100px" width="100px" *ngIf="imageUploaded" />
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <span> {{'Attachments' | translate}}</span><span class="text-danger">*</span> <br />
                    <input type="file" (change)="uploadFiles(attachmentfile.files)" hidden multiple #attachmentfile
                        class="form-control" accept=".docx,.doc,.pdf"/>
                    <button class="btn-attach" (click)="attachmentfile.click();fileExcessed=false">Attach</button>
                    <small class="text-danger" *ngIf="fileExcessed">{{'maxNumberOfFilesIs5' | translate}} </small>
                    <!-- begin of div -->
                    <div class="row mb-5" *ngIf="fileNames.length >0">
                        <div class="mln-2">
                            <ul class="">
                                <li class="" *ngFor="let fileName of fileNames">
                                    <span>
                                        <img width="30px" height="30px" class=""
                                            [src]="baseFileUrl + manageFileType(fileName)" />
                                    </span>
                                    <span class="" title="{{ fileName }}">{{
                                    fileName
                                  }}</span>
                                    <a class="remove" (click)="removeFile(fileName)"> ×</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- end of div -->
                </div>
            </div>
        </div>
        <div class="row text-center ">
            <div class="col-12 ">
                <!-- [disabled]="handBookForm.invalid" -->
                <input type="submit" value="Create" class="btn btn-primary btnCreate" />
            </div>
        </div>
    </form>
</div>
